PORT=3000
NODE_ENV=development
CONFIRMATION_URL=https://techover-checkout.herokuapp.com
BASE_URL=https://api.playground.klarna.com
PUBLIC_KEY=1a01ab01-ced7-48d3-a6af-caf53ce8b99a
SECRET_KEY=klarna_test_api_Q3cqTTNFUWIjRmtFQUFsZCl5YzJZQ00xOFFUailTT1AsMWEwMWFiMDEtY2VkNy00OGQzLWE2YWYtY2FmNTNjZThiOTlhLDEsYll1Y2JtY3FrVTl5VStBbytVUXVxUFEwcm1GbkRpWGpadmoycXZnTHM5RT0
FAKE_STORE_API_URL=https://fakestoreapi.com
